@inject Blazored.LocalStorage.ILocalStorageService LocalStorageService
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@using PaxAcDesign.calculate.datatype
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using PaxAcDesign.calculate.PreliminarySizing

@if (DataRequest == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <RadzenSteps Change=@OnChange CanChange="@CanChange" NextText="@Localize["Next"]" PreviousText="@Localize["Previous"]">
        <Steps>
            <RadzenStepsItem Text="@string.Format("{0} 1", Localize["Step"])">
                <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem">
                    <RadzenTemplateForm Data="@DataRequest" Submit="@((Request args) => { CalculateStep1(args); })">
                        <RadzenRow Gap="2rem">
                            <RadzenStack>
                                <RadzenFieldset Text="@string.Format("{0}1", Localize["FieldsetDescription"])">
                                    <RadzenStack Gap="1rem">
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="@Localize["AircraftType"]" Component="AircraftTypeDropDown"/>
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenDropDown @bind-value="DataRequest.RequestPurpose.AircraftType"
                                                                TValue="AircraftType"
                                                                AllowClear="true"
                                                                Placeholder="@Localize["SelectAircraftType"]"
                                                                Data="@(Enum.GetValues(typeof(AircraftType)).Cast<Enum>())"
                                                                Style="width: 100%;"
                                                                Name="AircraftTypeDropDown">
                                                </RadzenDropDown>
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="@Localize["EngineType"]" Component="EngineTypeDropDown"/>
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenDropDown @bind-value="DataRequest.RequestEngine.EngineType"
                                                                TValue="EngineType"
                                                                AllowClear="true"
                                                                Placeholder="@Localize["SelectEngineType"]"
                                                                Data="@(Enum.GetValues(typeof(EngineType)).Cast<Enum>())"
                                                                Style="width: 100%;"
                                                                Name="EngineTypeDropDown">
                                                </RadzenDropDown>
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="@Localize["HighLiftDevice"]" Component="HighLiftDeviceDropDown"/>
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenDropDown @bind-value="DataRequest.RequestPurpose.HighLiftDevice"
                                                                TValue="HighLiftDevice"
                                                                AllowClear="true"
                                                                Placeholder="@Localize["SelectHighLiftDevice"]"
                                                                Data="@(Enum.GetValues(typeof(HighLiftDevice)).Cast<Enum>())"
                                                                Style="width: 100%;"
                                                                Name="HighLiftDeviceDropDown">
                                                </RadzenDropDown>
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <CustomDoubleNumeric BindValue="DataRequest.RequestPurpose.HeightAboveSeaLevel" BindValueName="@Localize["HeightAboveSeaLevel"]"/>
                                        <CustomDoubleNumeric BindValue="DataRequest.RequestPurpose.LandingDistance" BindValueName="@Localize["LandingDistance"]"/>
                                    </RadzenStack>
                                </RadzenFieldset>
                            </RadzenStack>
                        </RadzenRow>
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-mt-8 rz-mb-4">
                            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="@Localize["Calculate"]"/>
                        </RadzenStack>
                    </RadzenTemplateForm>
                    @* <RadzenColumn Size="12" SizeMD="6"> *@
                    <RadzenStack Gap="2rem" class="rz-p-0 rz-p-lg-4">
                        <RadzenFieldset Text="@Localize["Block1Result"]">
                            <RadzenStack Gap="1rem">
                                <CustomDoubleNumericRepresentation BindValue="DataRequest.RequestPurpose.MaxLiftCoefficient" BindValueName="MaxLiftCoefficient" Orientation="Orientation.Vertical"/>
                                <CustomDoubleNumericRepresentation BindValue="DataRequest.RequestPurpose.MaxLandingMassToMaxTakeOffMassRatio" BindValueName="MaxLandingMassToMaxTakeOffMassRatio" Orientation="Orientation.Vertical"/>
                                <CustomDoubleNumericRepresentation BindValue="DataRequest.RequestPurpose.MaxWingLoading" BindValueName="MaxWingLoading" Orientation="Orientation.Vertical"/>
                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenStack>
                </RadzenStack>
            </RadzenStepsItem>
            <RadzenStepsItem Text="@string.Format("{0} 2", Localize["Step"])"
                             Disabled="@(DataRequest.RequestPurpose == null || DataRequest.RequestPurpose.MaxLiftCoefficient == 0.0 || DataRequest.RequestPurpose?.MaxLandingMassToMaxTakeOffMassRatio == 0.0 || DataRequest.RequestPurpose?.MaxWingLoading == 0.0)">
                <RadzenTemplateForm Data="@DataRequest" Submit="@((Request args) => { CalculateStep2(args); })">
                    <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
                        <RadzenColumn Size="12" SizeMD="6">
                            <RadzenStack>
                                <RadzenFieldset Text="@Localize["RequestPurpose"]">
                                    <RadzenStack Gap="1rem">
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="@Localize["AircraftType"]" Component="AircraftTypeDropDown"/>
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenDropDown @bind-value="DataRequest.RequestPurpose.AircraftType"
                                                                TValue="AircraftType"
                                                                AllowClear="true"
                                                                Placeholder="@Localize["SelectAircraftType"]"
                                                                Data="@(Enum.GetValues(typeof(AircraftType)).Cast<Enum>())"
                                                                Style="width: 100%;"
                                                                Name="AircraftTypeDropDown">
                                                </RadzenDropDown>
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="@Localize["HighLiftDevice"]" Component="HighLiftDeviceDropDown"/>
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenDropDown @bind-value="DataRequest.RequestPurpose.HighLiftDevice"
                                                                TValue="HighLiftDevice"
                                                                AllowClear="true"
                                                                Placeholder="@Localize["SelectHighLiftDevice"]"
                                                                Data="@(Enum.GetValues(typeof(HighLiftDevice)).Cast<Enum>())"
                                                                Style="width: 100%;"
                                                                Name="HighLiftDeviceDropDown">
                                                </RadzenDropDown>
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <CustomDoubleNumeric BindValue="DataRequest.RequestPurpose.HeightAboveSeaLevel" BindValueName="HeightAboveSeaLevel"/>
                                        <CustomDoubleNumeric BindValue="DataRequest.RequestPurpose.LandingDistance" BindValueName="LandingDistance"/>
                                        <CustomDoubleNumeric BindValue="DataRequest.RequestPurpose.TakeOffGroundRoll" BindValueName="TakeOffGroundRoll"/>
                                        <CustomDoubleNumeric BindValue="DataRequest.RequestPurpose.WingAspectRatio" BindValueName="WingAspectRatio"/>
                                        <CustomDoubleNumeric BindValue="DataRequest.RequestPurpose.WingWettedArea" BindValueName="WingWettedArea"/>
                                    </RadzenStack>
                                </RadzenFieldset>
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenTemplateForm>
            </RadzenStepsItem>
            <RadzenStepsItem Text="@string.Format("{0} 3", Localize["Step"])"
                             Disabled="@(DataRequest.RequestPurpose?.MaxLiftCoefficientTakeOff == 0.0 || DataRequest.RequestPurpose?.ThrustToWeightRatioAndWingLoadingCoefficient == 0.0)">
            </RadzenStepsItem>
            <RadzenStepsItem Text="@string.Format("{0} 4", Localize["Step"])"
                             Disabled="@(DataRequest.RequestPurpose?.ClimbAngle == 0.0)">
            </RadzenStepsItem>
            <RadzenStepsItem Text="@string.Format("{0} 5", Localize["Step"])"
                             Disabled="@(DataRequest.RequestPurpose?.LiftToDragRatio == 0.0 || DataRequest.RequestPurpose?.MinThrustToWeightRatio2Segment == 0.0)">
            </RadzenStepsItem>
            <RadzenStepsItem Text="@string.Format("{0} 6", Localize["Step"])"
                             Disabled="@(DataRequest.RequestPurpose?.MinThrustToWeightRatioMissedApproach == 0.0)">
            </RadzenStepsItem>
            <RadzenStepsItem Text="@string.Format("{0} 7", Localize["Step"])"
                             Disabled="@(DataRequest.RequestPurpose?.LiftToDragRatioCruise == 0.0)">
            </RadzenStepsItem>
            <RadzenStepsItem Text="@string.Format("{0} 8", Localize["Step"])"
                             Disabled="@(DataRequest.RequestPurpose?.ThrustToWeightFunctionCruise == null || DataRequest.RequestPurpose?.WingLoadingFunctionCruise == null)">
            </RadzenStepsItem>
            <RadzenStepsItem Text="@Localize["MatchingChart"]"
                                         Disabled="@(DataRequest.RequestPurpose?.ThrustToWeightFunctionCruise == null || DataRequest.RequestPurpose?.WingLoadingFunctionCruise == null)">
                        </RadzenStepsItem>
        </Steps>
    </RadzenSteps>
}

<EventConsole @ref=@console/>

@code {
    EventConsole console;
    public Request DataRequest = new();

    protected override async Task OnInitializedAsync()
    {
        DataRequest = await LocalStorageService.GetItemAsync<Request>("request") ?? new Request();
    }

    async void CalculateStep1(Request arg)
    {
        console.Log("Going to calculate step 1");

    // calculate block 1, generate form for printing results on the same page
        var block1LandingDistance = new Block1LandingDistance();
        block1LandingDistance.Handle(DataRequest);

        await LocalStorageService.SetItemAsync("request", DataRequest);
    }

    void CalculateStep2(Request arg)
    {
    //
    }

    void CalculateStep3(Request arg)
    {
    //
    }

    void Cancel()
    {
    //
    }

    void OnChange(int index)
    {
    // todo: save DataRequest to local storage
    }

    private async Task CanChange(StepsCanChangeEventArgs args)
    {
        if (args.SelectedIndex == 0)
        {
            if (DataRequest.RequestPurpose.MaxLiftCoefficient != 0.0
                && DataRequest.RequestPurpose.MaxLandingMassToMaxTakeOffMassRatio != 0.0
                && DataRequest.RequestPurpose.MaxWingLoading != 0.0)
            {
                
            }
        }
    }

}